nav {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

nav a{
    background-color: rgb(135, 189, 252);
    padding: 1rem;
    border-radius: 0.5rem;

    text-decoration: none;
    color: black;
    font-size: 1.2rem;

    display: flex;
    justify-content: space-between;
    transition: 1s;
}

nav a:hover {
    width: 90%;
    transition: 1s;
}