.articulo-2 {
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;      
    justify-content: center;     
    align-items: center;         
    padding: 2rem;
    height: 100vh;
}

.textos {
    width: 80%;
    text-align: center;         
}

.titulos {
    margin-top: 10px;
    text-align: center;
}

.titulos1 {
    margin-top: 20px;
    text-align: center;
}

.titulosss {
    margin-top: 30px;
    text-align: center;
}
